header {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background: #c5e9ff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  .header-text {
    width: 85%;
    font-style: normal;
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
  }

  img {
    margin: auto;
  }
}

.body {
  display: flex;
  background: #d5efff;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.link-text {
  text-decoration: none;
  color: #000000;
}
.image-conainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 75vh;
}

.container-for-registration {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.registration-conainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 76%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 42px;
    color: #000000;
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 1% auto;

    label {
      width: 50%;
      height: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 21px;
      color: #000000;
      margin: 5px 0;
    }

    input {
      width: 100%;
      height: 40px;
      left: 575px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 1rem;
      margin: 20px 0;
    }

    .button-and-text-conainer {
      display: flex;
      flex-direction: column;
      margin: 2% 0;
      align-items: flex-end;

      button {
        width: auto;
        height: 40px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.8);
        line-height: 21px;
      }

      h4 {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

@media (max-width: 1024px) {
  header .header-text {
    font-size: 2.5rem;
    height: auto;
  }
  body {
    font-size: 2.5rem;

    .image-conainer {
      width: 37%;

      img {
        width: 130px;
      }
    }

    .container-for-registration {
      width: 63%;

      .registration-conainer {
        font-size: 2rem;
        height: auto;
        width: 95%;
        margin: 3%;

        .form-container {
          label {
            font-size: 1.9rem;
          }

          input {
            font-size: 2rem;
            min-height: 61px;
          }

          .button-and-text-conainer {
            button {
              width: 73%;
              font-size: 2rem;
              margin: 3% 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  body {
    font-size: 2rem;

    .image-conainer {
      width: 37%;

      img {
        width: 130px;
      }
    }

    .container-for-registration {
      width: 63%;

      .registration-conainer {
        font-size: 2rem;
        height: auto;
        width: 95%;
        margin: 3%;

        .form-container {
          label {
            font-size: 1.9rem;
          }

          input {
            font-size: 2rem;
            min-height: 61px;
          }

          .button-and-text-conainer {
            button {
              width: 94%;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  header {
    .header-text {
      font-size: 2rem;
    }
    header img {
      width: 14%;
    }
  }

  body {
    .image-conainer {
      display: none;
    }
    .container-for-registration {
      width: 99%;
      .registration-conainer {
        width: 100%;
        .form-container {
          .button-and-text-conainer {
            button {
              width: 100%;
              font-size: 1.7rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  header {
    align-items: center;
    justify-content: center;
    .header-text {
      font-size: 2rem;
      width: auto;
    }
    img {
      display: none;
    }
    button {
      margin-left: 32%;
    }
  }

  body {
    .image-conainer {
      display: none;
    }
    .container-for-registration {
      width: 99%;
      .registration-conainer {
        font-size: 1.5rem;
        h1 {
          font-size: 1.5rem;
        }
        width: 100%;
        .form-container {
          label {
            font-size: 1.4rem;
          }
          input {
            font-size: 1.2rem;
            height: auto;
            margin: 4% 0;
          }
          .button-and-text-conainer {
            button {
              width: 100%;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}
