.all-reception-container {
  width: 96%;
  height: auto;
  max-height: 54vh;
  margin: auto;

  .table-head-div {
    width: 100%;
  }

  .table-head {
    background-color: #c4c4c4;
    position: sticky;
    top: 0;
  }

  .table-container {
    max-height: 54vh;
    height: auto;
  }

  .body-table {
    overflow: auto;
    max-height: 52vh;
  }

  .table-row {
    border-left: 2px solid black;
    border-bottom: none;
  }

  .edit-table {
    border-left: none;
    border-bottom: none;
  }

  .complaints-row,
  .name-patient-row {
    border-right: 1px solid black;
    max-width: 10vw;
    text-overflow: ellipsis;
    overflow-y: auto;
    overflow-x: auto;
  }

  .complaints-row:hover,
  .name-patient-row:hover {
    text-overflow: unset;
    word-wrap: break-word;
  }
}

@media (max-width: 1024px) {
  .table-head tr th {
    font-size: 3rem;
  }

  .table-row tr th {
    font-size: 1.5rem;
  }

  .table-row tr td {
    font-size: 1.5rem;
  }

  .image-for-table {
    width: 30px;
  }
}

@media (max-width: 770px) {
  .table-head tr th {
    font-size: 1.5rem;
  }
}

@media (max-width: 770px) {
  .all-reception-container .name-patient-row {
    max-width: 35vw;
  }
}
